# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
conf/
app/bin
app/build
.vscode
./app/src/main/resources


!./app/src/main/resources/WEB-INF
